@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --gray:  #807f7f;
    --graylight: #e8e8ff;
    --lilac: #5252df;
    --lilalight: #4444c4;
    --white: white;
}

* {
  box-sizing: border-box;
}

body {
    margin: 0px;
}

.header {
    width: 100vw;
    height: 100px;
    background: var(--lilac);
    box-shadow: 0px 0.5px 5.5px var(--gray);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-row: auto;
    align-content: center;
}

.container-logo {
  grid-column-start: 1;
  grid-column-end: 2;

  display: grid;
  justify-content: start;
  align-content: center;
  margin: 0px 0px 0px 10px;
}
.mando {
    width: 80px;
}

.container-list {
  color:var(--white);
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;

  place-content: center;
  text-align: center;
}

ul {
    margin: 0px;
  list-style-type: none;

}

li {
    display: inline;
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
}

.container-dropdown {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  place-content: center;

  width: 50px;
  height: 45px;
}


.container-dropdown:hover {
    background: var(--lilalight);
}

.menu {
    background: transparent;
    border: none;
    justify-content: end;
    align-content: center;
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 0 10px 0px 0px;
}

.color:hover{
    stroke: var(--graylight);

}
